<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<button ion-button icon-only (click)="goback_currencypage();">
    <ion-icon name="arrow-back"></ion-icon>
</button>

    <ion-card>
        <ion-card-content> <!-- presentActionSheet() -->
            <h2> <b>The current price of Bitcoin is : $9375 </b></h2>
        </ion-card-content>
    </ion-card>

<ion-card>
    <div padding>
        <ion-item>
            <ion-label floating>Sell Amount</ion-label>
            <ion-input type="number" #sellamount></ion-input>
        </ion-item>
        <button block ion-button (click)="sell()">Sell to Master Bank</button>

    </div>

    <div padding>
        <ion-item>
            <ion-label floating>Buy Amount</ion-label>
            <ion-input type="number" #buyamount></ion-input>
        </ion-item>
        <button block ion-button (click)="buy()">Buy from Master Bank</button>
    </div>

</ion-card>

</body>
</html>