<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button ion-button icon-only (click)="goback_currencypage();">
    <ion-icon name="arrow-back"></ion-icon>
</button>

<ion-card>
    <ion-card-content> <!-- presentActionSheet() -->
        <h2> <b>The current price of Bitcoin is : $164 </b></h2>
    </ion-card-content>
</ion-card>

</body>
</html>