<button ion-button icon-only (click)="goback_home();">
    <ion-icon name="arrow-back"></ion-icon>
</button>
<ion-card>

    <ion-card-header>
        User Login
    </ion-card-header>

    <ion-list>

        <ion-item>
            <ion-label color = "primary" floating>Username</ion-label>
            <ion-input placeholder="Type email here!" type="text" #username></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color = "primary" floating>Password</ion-label>
            <ion-input placeholder="Type password here!" type="password" #password></ion-input>
        </ion-item>

    </ion-list>

    <div padding>
        <button block ion-button (click)="signInUser()">Sign In</button>
    </div>


</ion-card>