<button ion-button icon-only (click)="goback_home();">
    <ion-icon name="arrow-back"></ion-icon>
</button>
<ion-card>

    <ion-card-header>
        New User -> Register
    </ion-card-header>

    <ion-list>

        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" #username></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" #password></ion-input>
        </ion-item>

    </ion-list>

    <div padding>
        <button block ion-button (click)="registerUser()">Register</button>

    </div>

</ion-card>
