<!--
  Generated template for the LoggedinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
        <ion-title>Hello User, {{email}} </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding> 
<ion-card>
    <ion-card-content>
        <h2> Currencies </h2>
        <img src="https://pbs.twimg.com/profile_images/929668150391603200/jEpXi60g_400x400.jpg" alt="Sample" style="width:360px;height:250px;">
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header> Ripple </ion-card-header>

    <ion-list>
        <!--<button ion-button color="light" round>-->
            <!--<ion-icon name="buy" item-start></ion-icon>-->
            <!--Buy-->
        <!--</button>-->

        <!--<button ion-button color="dark" round>-->
            <!--<ion-icon name="sell" item-start></ion-icon>-->
            <!--Sell-->
        <!--</button>-->

        <button  ion-button color = "dark" round (click)="Ripple_view()"> View </button>
    </ion-list>
</ion-card>

<ion-card>
    <ion-card-header> Litecoin </ion-card-header>

    <ion-list>
        <!--<button ion-button color="light" round>-->
            <!--<ion-icon name="buy" item-start></ion-icon>-->
            <!--Buy-->
        <!--</button>-->

        <!--<button ion-button color="dark" round>-->
            <!--<ion-icon name="sell" item-start></ion-icon>-->
            <!--Sell-->
        <!--</button>-->

        <button  ion-button color = "dark" round (click)="Litecoin_view()"> View </button>
    </ion-list>
</ion-card>

<ion-card>
    <ion-card-header> Ethereum </ion-card-header>

    <ion-list>
        <!--<button ion-button color="light" round>-->
            <!--<ion-icon name="buy" item-start></ion-icon>-->
            <!--Buy-->
        <!--</button>-->

        <!--<button ion-button color="dark" round>-->
            <!--<ion-icon name="sell" item-start></ion-icon>-->
            <!--Sell-->
        <!--</button>-->

        <button  ion-button color = "dark" round (click)="Ethereum_view()"> View </button>

    </ion-list>
</ion-card>

<ion-card>
    <ion-card-header> Bitcoin </ion-card-header>

    <ion-list>
        <!-- <button ion-button color="light" round>
             <ion-icon name="buy" item-start></ion-icon>
             Buy
         </button>

         <button ion-button color="dark" round>
             <ion-icon name="sell" item-start></ion-icon>
             Sell
         </button> -->

        <button  ion-button color = "dark" round (click)="BitCoin_view()"> View </button>

    </ion-list>
</ion-card>
</ion-content>


